<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ZAMKA</title>
    <meta name="description" content="An interactive getting started guide for Brackets.">

    <link rel="shortcut icon" href="/img/favicon.ico"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" media="screen" type="text/css" href="/css/main.css?v=125">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/jquery.smooth-scroll.js"></script>
    <script src="/js/jquery_animation_nav.js"></script>
</head>

<body>
<header>
    <nav>
        <a href='#home'><img id="logo_nav" src="/img/logo_zamka.png"></a>
        <ul>
            <a href='#quienes_somos'> <li class="seccion_navegador">QUIÉNES SOMOS</li></a>
            <a href='#origen'> <li class="seccion_navegador">ORIGEN</li></a>
            <a href='#datos'><li class="seccion_navegador">DATOS</li></a>
            <a href='#contacto'><li class="seccion_navegador">CONTACTO</li></a>
        </ul>
    </nav>
</header>

<section>
    <div id="home">
        <div id="cnt_tx_home">
            <p class="font_home">LAS GRANDES OPORTUNIDADES PARA AYUDAR A OTROS RARA VEZ LLEGAN, PERO LAS PEQUEÑAS, NOS RODEAN TODOS LOS DÍAS.</p>
        </div>
    </div>

    <div id="quienes_somos">
        <div id="cnt_tx_quienes">
            <p class="titulo_quienes">¿QUIÉNES SOMOS?</p>
            <p class="tx_quienes">Somos la primera red de soñadores, donde encontraras a la organización solidaria ideal para ti. Te ayudaresmos a ser voluntario en el tema que más te apasione y así marcar la diferencia en tu país.</p>

            <p class="subtitulo_quienes">Nuestro objetivo</p>
            <p class="tx_quienes">Crear una cultura solidaria, promoviendo el voluntariado junto contigo.</p>
        </div>
    </div>

    <div id="origen">
        <div id="cnt_ic_origen">
            <div class="ic_origen">
                <img class="ic_center" src="/img/ic_corazon.png">
                <div class="titulo_ic_origen">AMOR</div>
            </div>
            <div class="ic_origen"><p class="signos_origen">+</p></div>
            <div class="ic_origen">
                <img class="ic_center_nubes" src="/img/ic_nubes.png">
                <div class="titulo_ic_origen">SUEÑOS</div>
            </div>
            <div class="ic_origen"><p class="signos_origen">=</p></div>
            <img class="ic_origen" src="/img/ic_zamka_origen.png">
        </div>
        <div id="tx_origen">
            El origen de nuestro nombre viene de la palabra ZAMKA, que quiere decir sueño en Aimara. Zamka gira entorno a muchos sueños, los sueños de los voluntarios potenciales por un país mejor, el dueño de las organizaciones solidarias que luchan día a día por marcar la diferencia y los sueños de todos los beneficiados de las diferentes laborel solidarias. Concretemos nuestros sueños, juntos podemos hacer realidad el país con el que soñamos.
        </div>
    </div>
    <div id="datos">
        <div id="cnt_ic_datos">
            <div class="ic_datos">
                <div id="dato1" class="titulo_voluntario"><span>34</span>%</div>
                <img class="ic_datos_center" src="/img/primer_dato.png">
                <div class="sub_titu_volunt">SON VOLUNTARIOS</div>
            </div>
            <div class="ic_datos">
                <div id="dato2" class="titulo_voluntario"><span>19</span>%</div>
                <img class="ic_datos_center" src="/img/segundo_dato.png">
                <div class="sub_titu_volunt">SON JOVENES </div>
            </div>
            <div class="ic_datos">
                <div id="dato3" class="titulo_voluntario"><span>51</span>%</div>
                <img class="ic_datos_center" src="/img/tercer_dato.png">
                <div class="sub_titu_volunt">SI DONAN</div>
            </div>
        </div>
        <div id="cnt_barra_datos">
            <div class="sub_titu_volunt">MOTIVO DE NO VOLUNTARIADO</div>
            <div class="barra_datos">
                <div id="primer_motivo"></div>
                <div class="tx_motivo">FALTA DE TIEMPO</div>
                <div id="porcentaje_primer_motivo">56%</div>
            </div>
            <div class="barra_datos">
                <div id="segundo_motivo"></div>
                <div class="tx_motivo">POR SU TRABAJO</div>
                <div id="porcentaje_segundo_motivo">36%</div>
            </div>
            <div class="barra_datos">
                <div id="tercer_motivo"></div>
                <div class="tx_motivo">NO SABE COMO HACERLO</div>
                <div id="porcentaje_tercer_motivo">16%</div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div id="contacto">
        <div id="unete_contacto">
            <div id="frase_unete">ÚNETE AL SUEÑO</div>
            <div id="tx_unete">
                Muy pronto podras ser parte del cambio! Dejanos tus datos para formar parte de esta comunidad.
            </div>
        </div>
        <div id="content_datos">
            <div id="formulario">
                <form>
                    <select class="tipo_content_form" name="tipo_usuario">
                        <option value="voluntario">Voluntario</option>
                        <option value="organizacion">Organización solidaria</option>
                    </select>
                    <input type="text" class="content_form" name="nombre" placeholder="Nombres">
                    <input type="text" class="content_form" name="e-mail" placeholder="Correo electrónico">
                    <input type="submit" id="enviar_form" value="Enviar">
                </form>
            </div>
            <div id="contacto_separador">
                <div class="separador_vertical"></div>
            </div>
            <div id="datos_contacto">
                <div>
                    <div id="logo_contac"><img src="/img/logo_contac.png">
                    </div>
                </div>
                <div class="datos_contacto">
                    <b class="bold">E:</b>  hola@zamka.com<br>
                    <b class="bold">T:</b>  984505165<br>
                    <b class="bold">W:</b>  www.zamka.org<br>
                </div>
                <div id="conten_ic_redes">
                    <a href="https://www.facebook.com/pages/Zamka/705880659483641"><img src="/img/ic_face.png"></a>
                    <a href="https://twitter.com/zamka_org"><img src="/img/ic_tw.png"></a>
                    <!--a href="https://www.youtube.com"><img src="/img/ic_youtube.png"></a-->
                </div>
            </div>
        </div>
        <div id="credit">
            <b class="bold">Copyright © 2015</b> Todo el contenido de esta página web esta estrictamente protegido por derechos de autor.<br>
            Sitio diseñado por <b class="bold">FRACTRAL/STRUDIO</b>
        </div>
    </div>
</footer>
<script>
    $(document).ready(function() {

        var flag = false;
        var flag_dato = false;
        var scroll;

        $(window).scroll(function(){
            scroll = $(window).scrollTop();


            if(scroll > 150)
            {
                if(!flag)
                {
                    $("#logo_nav").css({"marginTop":"-18px","width":"50px","height":"50px"});
                    flag = true;
                }

            }
            else
            {
                if(flag)
                {
                    $("#logo_nav").css({"marginTop":"150px","width":"150px","height":"150px"});
                    flag = false;
                }
            }

            if(scroll > 2000)
            {
                if(!flag_dato)
                {
                    flag_dato=true;
                    datos();
                }
            }

            if(scroll <= 1704)
            {
                $("#dato1 span").html(0);
                $("#dato2 span").html(0);
                $("#dato3 span").html(0);
                flag_dato=false;
            }
        });


        function datos()
        {
            var i=0; j=0; k=0;

            var dato1time = setInterval(
                    function(){$("#dato1 span").html(i);
                        i++;
                        if(i==35)
                        {
                            clearInterval(dato1time);
                        }
                    }, 35);

            var dato2time = setInterval(
                    function(){$("#dato2 span").html(j);
                        j++;
                        if(j==20)
                        {
                            clearInterval(dato2time);
                        }
                    }, 35);

            var dato3time = setInterval(
                    function(){$("#dato3 span").html(k);
                        k++;
                        if(k==52)
                        {
                            clearInterval(dato3time);
                        }
                    }, 35);
        }
        $('nav a').smoothScroll();
    });


</script>
</body>

</html>