<html lang="en" ng-app="ZamkaAdmin">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://gitcdn.xyz/repo/angular/bower-material/master/angular-material.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.6/animate.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.0/sweetalert.min.css">
    <link rel="stylesheet" type="text/css" href="/css/md-date-time.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">

    <link rel="stylesheet" href="/css/ng-img-crop.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/es.js"></script>
    <title>Zamka | Voluntarios</title>
</head>
<body ng-controller="AppCtrl">
<md-toolbar>
    <div class="md-toolbar-tools">
        <button ng-click="toggleSidenav('left')" hide-gt-md class="menuBtn">
            <span class="visually-hidden"></span>
        </button>
        <a href="/App"><img style="height: 70px" src="/img/logow.png"></a>
        <span flex></span>

        <md-button ng-hide="usuario" class="md-icon-button" aria-label="More">
            <md-tooltip md-direction="down">
                Ingresar
            </md-tooltip>
            <i class="fa fa-sign-in"></i>
        </md-button>

        <md-button ng-show="usuario" class="md-icon-button" ng-click="goToMiCuenta()">
            <md-tooltip md-direction="down">
                Mi Cuenta
            </md-tooltip>
            <i class="fa fa-inbox"></i>
        </md-button>

        <md-menu md-offset="-10 65">
            <md-button ng-show="usuario" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-tooltip md-direction="down">
                    Configuracion
                </md-tooltip>
                <i class="fa fa-cog"></i>
            </md-button>
            <md-menu-content width="2" class="logMenu">
                <md-menu-item>
                    <md-button ng-click="goToMiPerfil()">
                        Ver Perfil
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="goToEditarPerfil()">
                        Editar Perfil
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="logout()">
                        Salir
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
<div class="loadingBack" layout="row" layout-align="center center" ng-show="cargando">
    <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
</div>
<div class="contenedor" layout="row" layout-align="center start" flex ng-view>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-touch.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.min.js"></script>
<script src="https://rawgit.com/angular/bower-material/master/angular-material.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_es-es.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.0/sweetalert.min.js"></script>
<script src="/js/md-date-time.js"></script>
<script src="/js/ng-img-crop.js"></script>
<script src="/js/app.js"></script>
</body>
</html>

