<div layout="column" layout-align="start center" flex="100">
    <div class="evento-header" layout="column" layout-align="center center">
            <div layout="column" layout-align="center start">
                <label class="categoria">[[evento.categoria]]</label>
                <h1 class="evento-titulo">[[evento.nombre]]</h1>
            </div>
    </div>
    <br>
    <div layout="row" layout-align="space-around start">
        <div flex="70" layout="row" layout-align="space-around start" layout-wrap>
            <div flex="30">
                <div layout="column" layout-align="space-around center">
                    <label class="orgLbl">ORGANIZACION</label>
                    <hr class="orgHr center">
                    <a href="/App/ONG/[[evento.org.id]]"><img class="fullWidth" ng-src="[[evento.org.foto]]" ></a>
                    <label class="nombreLbl">[[evento.org.nombre]]</label>
                    <hr class="center width-80">
                    <div layout="row" layout-align="space-around center">
                        <md-button class="md-fab social-fab" aria-label="Use Android">
                            <i class="fa fa-facebook"></i>
                        </md-button>
                        <md-button class="md-fab social-fab" aria-label="Use Android">
                            <i class="fa fa-twitter"></i>
                        </md-button>
                        <md-button class="md-fab social-fab" aria-label="Use Android">
                            <i class="fa fa-google-plus"></i>
                        </md-button>
                    </div>
                </div>

            </div>
            <div flex="70">
                <div class="width-90 center">
                   <p>[[evento.contenido]]</p>
                </div>
            </div>
            <div flex="100">
                <br>
                <div layout="row" layout-align="space-around center">
                    <md-card class="fotosCard">
                        <img src="/img/Picture1.jpg">
                    </md-card>
                    <md-card class="fotosCard">
                        <img src="/img/Picture2.jpg">
                    </md-card>
                    <md-card class="fotosCard">
                        <img src="/img/Picture3.jpg">
                    </md-card>
                </div>
            </div>
        </div>

        <div flex="30">

            <time-date-picker class="md-whiteframe-z1 center" ng-model="dateValue" orientation="true" ></time-date-picker>
            <md-button class="md-raised participar center">Participar</md-button>
        </div>
    </div>
<br>

    <div layout="column" layout-align="start center" class="width-80">
    <div class="fullwidth">
        <label>COMENTARIOS</label>
        <hr>
    </div>
        <div ng-repeat="comentario in evento.comentarios" layout="row" layout-align="space-around center" class="fullwidth" layout-wrap>
            <div flex="30" layout="row" layout-align="center center">
                <a href="/App/Perfil/[[comentario.usuario.id]]"><img class="circlePhoto md-whiteframe-z1" ng-src="[[comentario.usuario.foto]]"></a>
            </div>
            <div flex="70" layout="column" layout-align="start start">
                <p><label class="nombreLbl" >[[comentario.usuario.nombre]] </label><i class="fa fa-calendar-o"></i> Hace 5 dias</p>
                <div>
                    <p>[[comentario.comentario]]</p>
                </div>
            </div>
            <div flex="100">
                <br><hr class="width-80 center">
            </div>
        </div>



    </div>
</div>
