<div layout="column" layout-align="start center" flex="90">
    <img src="/img/logo.png" class="animated zoomInDown">
    <div layout="row" layout-align="space-between start">
        <div layout="row" layout-align="space-around start" layout-wrap flex="80">
        <md-card flex="30" class="evento-card" ng-click="irEvento()">
            <img src="/img/Picture1.jpg" class="md-card-image" alt="Washed Out">
            <md-card-content>
                <div layout="row" layout-align="start center">
                    <label class="headers categoria">CATEGORIA</label>
                    <div class="headers"><i class="fa fa-flag"></i> 30</div>
                    <div class="headers"><i class="fa fa-calendar-o"></i> 8/8/2015</div>
                </div>
                <h2 class="md-title">Titulo</h2>
                <p>
                   Descripcion del evento y un parrafo chico para mostrar como se veria la card con una descripcion de este tamaño le pondria algo  de lorem ipsum pero con esto ya es suficiente.
                </p>
            </md-card-content>
        </md-card>
        <md-card flex="30" class="evento-card">
            <img src="/img/Picture1.jpg" class="md-card-image" alt="Washed Out">
            <md-card-content>
                <div layout="row" layout-align="start center">
                    <label class="headers categoria">CATEGORIA</label>
                    <div class="headers"><i class="fa fa-flag"></i> 30</div>
                    <div class="headers"><i class="fa fa-calendar-o"></i> 8/8/2015</div>
                </div>
                <h2 class="md-title">Titulo</h2>
                <p>
                    Descripcion del evento y un parrafo chico para mostrar como se veria la card con una descripcion de este tamaño le pondria algo  de lorem ipsum pero con esto ya es suficiente.
                </p>
            </md-card-content>
        </md-card>
        <md-card flex="30" class="evento-card">
            <img src="/img/Picture1.jpg" class="md-card-image" alt="Washed Out">
            <md-card-content>
                <div layout="row" layout-align="start center">
                    <label class="headers categoria">CATEGORIA</label>
                    <div class="headers"><i class="fa fa-flag"></i> 30</div>
                    <div class="headers"><i class="fa fa-calendar-o"></i> 8/8/2015</div>
                </div>
                <h2 class="md-title">Titulo</h2>
                <p>
                    Descripcion del evento y un parrafo chico para mostrar como se veria la card con una descripcion de este tamaño le pondria algo  de lorem ipsum pero con esto ya es suficiente.
                </p>
            </md-card-content>
        </md-card>
        <md-card flex="30" class="evento-card">
            <img src="/img/Picture1.jpg" class="md-card-image" alt="Washed Out">
            <md-card-content>
                <div layout="row" layout-align="start center">
                    <label class="headers categoria">CATEGORIA</label>
                    <div class="headers"><i class="fa fa-flag"></i> 30</div>
                    <div class="headers"><i class="fa fa-calendar-o"></i> 8/8/2015</div>
                </div>
                <h2 class="md-title">Titulo</h2>
                <p>
                    Descripcion del evento y un parrafo chico para mostrar como se veria la card con una descripcion de este tamaño le pondria algo  de lorem ipsum pero con esto ya es suficiente.
                </p>
            </md-card-content>
        </md-card>
        </div>
        <div flex="20">
            <md-toolbar md-scroll-shrink>
                <div class="md-toolbar-tools">
                    <h3>
                        <span>Categorias</span>
                    </h3>
                </div>
            </md-toolbar>
            <md-list class="md-whiteframe-z1">
                <md-list-item  ng-click="searchCategoria()">
                    <i class="fa fa-graduation-cap cat-icon"></i>
                    <p> Categoria 1</p>
                </md-list-item>
                <md-list-item  ng-click="searchCategoria()">
                    <i class="fa fa-graduation-cap cat-icon"></i>
                    <p> Categoria 1</p>
                </md-list-item>
                <md-list-item  ng-click="searchCategoria()">
                    <i class="fa fa-graduation-cap cat-icon"></i>
                    <p> Categoria 1</p>
                </md-list-item>
                <md-list-item  ng-click="searchCategoria()">
                    <i class="fa fa-graduation-cap cat-icon"></i>
                    <p>  Categoria 1</p>
                </md-list-item>

            </md-list>
        </div>
    </div>
</div>