<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Categorias</h1>
    </md-toolbar>
    <md-content layout-padding>
        <md-list>
            <md-list-item ng-repeat="categoria in categorias"  ng-click="searchCategoria(categoria)">
                <p>[[categoria]]</p>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>
<md-content flex layout-padding>
    <div layout="column" layout-align="start center">
        <br>
        <div layout="row" layout-align="space-between start">
            <div layout="row" layout-align="start start" layout-wrap flex="80">
                <div ng-repeat="evento in eventos" flex-sm="100" flex-gt-md="50" flex-gt-lg="33">
                    <md-card class="evento-card" ng-click="irEvento(evento.id)">
                        <img ng-src="[[evento.foto]]" class="md-card-image" alt="Washed Out">
                        <md-card-content>
                            <div layout="row" layout-align="start center">
                                <label class="headers categoria">[[evento.categoria]]</label>
                                <div class="headers"><i class="fa fa-calendar-o"></i> [[showDate(evento.fecha)]]</div>
                            </div>
                            <h2 class="md-title">[[evento.nombre]]</h2>
                            <p>
                                [[evento.descripcion]]
                            </p>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</md-content>
