<link rel="stylesheet" type="text/css" href="/css/eventos.css?v=[[timestamp()]]">
<div class="contenedor" layout="row">
    <div flex="80"  class="main wow fadeInLeft" data-wow-duration="1.5s">
        <md-card>
            <md-card-content>
                Aca va a ir la informacion de un evento

            </md-card-content>
        </md-card>
    </div>
    <div flex="20">
        <md-card class="categorias wow fadeInLeft">
            <md-card-content layout="column">
                <Legend>Categoria</Legend>
                <md-button class="md-raised md-primary">Animalitos</md-button>
                <md-button class="md-raised md-primary">Educacion</md-button>
                <md-button class="md-raised md-primary">Construccion</md-button>
                <md-button class="md-raised md-primary">Ponis</md-button>
            </md-card-content>
        </md-card>
    </div>


</div>





