<div layout="column" layout-align="center center" flex="80">
    <img src="/img/logo.png" class="animated zoomInDown">
    <div layout="row" layout-align="space-around center" layout-wrap layout-padding>
        <md-input-container flex="50">
            <label>E-MAIL</label>
            <input ng-model="user.email">
        </md-input-container>
        <md-input-container flex="50">
            <label>PASSWORD</label>
            <input type="password" ng-model="user.password">
        </md-input-container>
        <div flex="50">
            <p>No Tienes cuenta? <a href="/App/SignUp">Registrate Aqui.</a></p>
        </div>
        <div layout="row" layout-align="space-around center" flex="50">
            <a href="/App/SignUp">Olvidaste tu Contraseña?</a>
            <md-button class="md-raised md-primary" ng-click="login(user.email,user.password,null)" flex>Ingresar</md-button>
        </div>
        <div layout="row" layout-align="space-around center" flex="100" layout-padding>
            <hr flex="33">
            <p flex="33" style="text-align: center"> o Ingresa por </p>
            <hr flex="33">
        </div>
        <md-button class="md-raised md-primary" flex="100" href="/App/Eventos">Facebook</md-button>
    </div>
</div>