<div layout="column" layout-align="start center" flex="100">
    <div class="evento-header" layout="column" layout-align="center center">
        <div layout="column" layout-align="center start">
            <label class="categoria">Mi Cuenta</label>
            <h1 class="evento-titulo">Mis Peticiones y Participaciones</h1>
            <h2 class="evento-desc">Aca puedo ver el estado actual de mis peticiones para participar de voluntariados</h2>
        </div>
    </div>

    <br>
    <div layout="row" layout-align="start start" layout-wrap class="width-95 center">

        <div flex="25" ng-repeat="peticion in peticiones">
        <md-card class="evento-card" ng-click="irEvento()">
            <img src="/img/Picture1.jpg" class="md-card-image" alt="Washed Out">
            <md-card-content>
                <div layout="row" layout-align="start center">
                    <label class="headers categoria">[[peticion.evento.categoria]]</label>
                    <div class="headers"><i class="fa fa-calendar-o"></i> [[showDate(peticion.evento.fecha)]]</div>
                    <div flex layout="row" layout-align="center center">
                        <i class="fa [[getEstado(peticion.estado)]]"></i></div>
                </div>
                <h2 class="md-title">[[peticion.evento.nombre]]</h2>
                <p>
                    [[peticion.evento.descripcion]]
                </p>
            </md-card-content>
        </md-card>
        </div>

    </div>

</div>
