<div layout="column" layout-align="start start" flex="100">
    <section>
        <div class="evento-header" layout="row" layout-align="center center">
            <div layout="column" layout-align="center center"flex="30">
                <img style="height:150px" ng-src="[[ong.foto]]">
            </div>
            <div layout="column" layout-align="center start" flex="70">
                <label class="categoria">ORGANIZACION</label>
                <h1 class="evento-titulo">[[ong.nombre]]</h1>
                <h2 class="evento-desc">[[ong.descripcion]]</h2>
            </div>
        </div>
    </section>
    <div style="width: 100%">
        <div class="width-95 center">
            <h1>Esta organizacion es responsable por los siguientes eventos</h1>
            <hr>
        </div>
    </div>
    <section>
        <md-grid-list style="width: 90%;margin-right: auto;margin-left: auto" md-cols-sm="1"
                      md-cols-md="2"
                      md-cols-gt-md="3"
                      md-row-height="3:2"
                      md-gutter="12px"
                      md-gutter-gt-sm="8px">
            <md-grid-tile ng-repeat="evento in ong.eventos"
                          style="background-image:url('[[evento.foto]]');opacity: [[expiredEvent(evento.fecha)]]" ng-click="irEvento(evento.id)">
                <md-grid-tile-footer layout="column" layout-align="start center">
                    <div layout="column" layout-align="start center">
                        <div layout="row" layout-align="space-between center" style="width: 100%;margin:4px">
                            <div layout="column" layout-align="start start">
                                <label class="headers categoria">[[evento.categoria]]</label>
                                <h2 class="md-title">[[evento.nombre]]</h2>
                            </div>
                            <div class="headers"><i class="fa fa-calendar-o"></i> [[showDate(evento.fecha)]]</div>
                        </div>
                        <div  layout-padding>
                            <p class="descripcion">
                                [[evento.descripcion]]
                            </p>
                        </div>
                    </div>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </section>
    <section>
        <div layout="column" layout-align="start center" class="width-80">
            <md-whiteframe style="margin-bottom: 18px" class="width-80 whiteBackground md-whiteframe-1dp" layout layout-align="center center" layout-padding>
                <md-input-container flex>
                    <label>Deje un Comentario</label>
                    <textarea ng-model="comentario" columns="1" md-maxlength="350"></textarea>
                </md-input-container>
                <md-button class="md-primary md-raised" ng-click="dejarComentario()">Aceptar</md-button>
            </md-whiteframe>
            <div class="fullwidth">
                <label>COMENTARIOS</label>
                <hr>
            </div>
            <div flex="100" ng-show="ong.comentarios.length==0">
                <h2>Todabia no hay ningun comentario en esta organizacion. Se el primero en dejar uno.</h2>
            </div>
            <div ng-repeat="comentario in ong.comentarios" layout="row" layout-align="space-around center" ng-style="stagger($index)" class="fullwidth animated zoomInDown" layout-wrap>
                <div flex="30" layout="row" layout-align="center center">
                    <a href="/App/Perfil/[[comentario.usuario.id]]"><img class="circlePhoto md-whiteframe-z1" ng-src="[[comentario.usuario.foto]]"></a>
                </div>
                <div flex="70" layout="column" layout-align="start start" class="whiteBackground md-whiteframe-1dp" layout-padding>
                    <div class="fullWidth" layout="row" layout-align="space-between"><label class="nombreLbl" >[[comentario.usuario.nombre]] </label></span><div><i class="fa fa-calendar-o"></i> [[timeSince(comentario.fecha)]]</div></div>
                    <div>
                        <p style="white-space: pre-wrap;">[[comentario.comentario]]</p>
                    </div>
                </div>
                <div flex="100">
                    <br><hr class="width-80 center">
                </div>
            </div>
        </div>
    </section>

</div>