<div layout="column" layout-align="start center" flex="100">
    <div class="evento-header" layout="row" layout-align="center center">
        <div layout="column" layout-align="center center"flex="30">
            <img class="heightFull" src="/img/logo.png">
        </div>
        <div layout="column" layout-align="center start" flex="70">
            <label class="categoria">ORGANIZACION</label>
            <h1 class="evento-titulo">Nombre de la Organizacion</h1>
            <h2 class="evento-desc">Descripcion de la organizacion, aca va un texto pequeño con un slogan o con una descripcion de lo que hace la organizacion.</h2>
        </div>
    </div>
    <br>
    <div layout="row" layout-align="space-around start" layout-wrap>
        <div flex="100">
            <div class="width-95 center">
                <h1>Esta organizacion es responsable por los siguientes eventos</h1>
                <hr>
            </div>
        </div>
        <md-card flex="24" class="evento-card" ng-click="irEvento()">
            <img src="/img/Picture1.jpg" class="md-card-image" alt="Washed Out">
            <md-card-content>
                <div layout="row" layout-align="start center">
                    <label class="headers categoria">CATEGORIA</label>
                    <div class="headers"><i class="fa fa-flag"></i> 30</div>
                    <div class="headers"><i class="fa fa-calendar-o"></i> 8/8/2015</div>
                </div>
                <h2 class="md-title">Titulo</h2>
                <p>
                    Descripcion del evento y un parrafo chico para mostrar como se veria la card con una descripcion de este tamaño le pondria algo  de lorem ipsum pero con esto ya es suficiente.
                </p>
            </md-card-content>
        </md-card>
        <md-card flex="24" class="evento-card" ng-click="irEvento()">
            <img src="/img/Picture1.jpg" class="md-card-image" alt="Washed Out">
            <md-card-content>
                <div layout="row" layout-align="start center">
                    <label class="headers categoria">CATEGORIA</label>
                    <div class="headers"><i class="fa fa-flag"></i> 30</div>
                    <div class="headers"><i class="fa fa-calendar-o"></i> 8/8/2015</div>
                </div>
                <h2 class="md-title">Titulo</h2>
                <p>
                    Descripcion del evento y un parrafo chico para mostrar como se veria la card con una descripcion de este tamaño le pondria algo  de lorem ipsum pero con esto ya es suficiente.
                </p>
            </md-card-content>
        </md-card>
        <md-card flex="24" class="evento-card" ng-click="irEvento()">
            <img src="/img/Picture1.jpg" class="md-card-image" alt="Washed Out">
            <md-card-content>
                <div layout="row" layout-align="start center">
                    <label class="headers categoria">CATEGORIA</label>
                    <div class="headers"><i class="fa fa-flag"></i> 30</div>
                    <div class="headers"><i class="fa fa-calendar-o"></i> 8/8/2015</div>
                </div>
                <h2 class="md-title">Titulo</h2>
                <p>
                    Descripcion del evento y un parrafo chico para mostrar como se veria la card con una descripcion de este tamaño le pondria algo  de lorem ipsum pero con esto ya es suficiente.
                </p>
            </md-card-content>
        </md-card>
        <md-card flex="24" class="evento-card" ng-click="irEvento()">
            <img src="/img/Picture1.jpg" class="md-card-image" alt="Washed Out">
            <md-card-content>
                <div layout="row" layout-align="start center">
                    <label class="headers categoria">CATEGORIA</label>
                    <div class="headers"><i class="fa fa-flag"></i> 30</div>
                    <div class="headers"><i class="fa fa-calendar-o"></i> 8/8/2015</div>
                </div>
                <h2 class="md-title">Titulo</h2>
                <p>
                    Descripcion del evento y un parrafo chico para mostrar como se veria la card con una descripcion de este tamaño le pondria algo  de lorem ipsum pero con esto ya es suficiente.
                </p>
            </md-card-content>
        </md-card>

    </div>
    <br>


</div>
