<link rel="stylesheet" type="text/css" href="/css/admin/estadisticas.css?v=refresh">
<md-content layout-padding class="mainContent">


<md-grid-list
      md-cols-sm="3" md-cols-md="3" md-cols-gt-md="6"
      md-row-height-gt-md="3:2" md-row-height="3:4"
      md-gutter="12px" md-gutter-gt-sm="8px" >
  <md-grid-tile class="animated zoomInDown stagger-[[$index]]"
      md-rowspan="2" md-colspan="3"><div class="estaContainer" layout="column" layout-align="space-around center">
      <h2 class="titulo">Participantes en el tiempo</h2>
		<div id="participantes" style="height: 250px;"></div>  </div>
  </md-grid-tile>
  <md-grid-tile class="animated zoomInDown stagger-[[$index]]"
      md-rowspan="2" md-colspan="3"><div class="estaContainer" layout="column" layout-align="space-around center">
      <h2 class="titulo">Proporción Mujeres/Hombres</h2>
		<div id="sexos" style="height: 250px;"></div></div>
  </md-grid-tile>
  <md-grid-tile class="animated zoomInDown stagger-[[$index]]"
      md-rowspan="2" md-colspan="3"><div class="estaContainer" layout="column" layout-align="space-around center">
      <img src="/img/zamka.jpg" class="md-card-image" alt="Imagen">	
      </div>
  </md-grid-tile>
  <md-grid-tile class="animated zoomInDown stagger-[[$index]]"
      md-rowspan="2" md-colspan="3"><div class="estaContainer" layout="column" layout-align="space-around center">
      <h2 class="titulo">Participantes por Evento</h2>
	  <div id="eventos" style="height: 250px;"></div></div>
  </md-grid-tile>
</md-grid-list>

</md-content>



