<link rel="stylesheet" type="text/css" href="/css/admin/eventos.css?v=[[timestamp()]]">
<md-grid-list
        md-cols-sm="2" md-cols-md="6" md-cols-gt-md="8"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >
    <md-grid-tile ng-repeat="evento in eventos" class="animated zoomInDown stagger-[[$index]]"
                  md-rowspan="2" md-colspan="2">
        <md-button class="floating1 md-fab md-green">
            <md-tooltip md-direction="right">
                Ver Evento
            </md-tooltip>
            <md-icon md-font-icon="fa-eye" class="fa"></md-icon>
        </md-button>
        <md-button class="floating2 md-fab md-green">
            <md-tooltip md-direction="right">
                Editar Evento
            </md-tooltip>
            <md-icon md-font-icon="fa-pencil-square-o" class="fa"></md-icon>
        </md-button>
        <md-button class="floating3 md-fab md-green">
            <md-tooltip md-direction="right">
                Ver Peticiones
            </md-tooltip>
            <md-icon md-font-icon="fa-users" class="fa"></md-icon>
        </md-button>
        <img class="tiledImg" ng-src="[[evento.img]]">
        <md-grid-tile-footer>
            <h3>[[evento.nombre]]</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

</md-grid-list>