<link rel="stylesheet" type="text/css" href="/css/admin/eventostat.css?v=[[timestamp()]]">
<h2 style="margin-left: 5px">Administración de Voluntarios</h2>
<section>
  <md-subheader class="md-primary"><h2>Pendientes</h2></md-subheader>
<div style="width: 90%;margin-left: auto;margin-right: auto;">
<md-grid-list
      md-cols-sm="2" md-cols-md="2" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >
  <md-grid-tile style="background-image:url('[[persona.Foto]]');transition: all 400ms ease-out;background-position: center;background-size: cover;
  " ng-repeat="persona in participantes.pendientes" ng-style="stagger($index)" class="animated zoomInDown"
  md-rowspan="2" md-colspan="2">
  <md-button class="floating1 md-fab md-primary" href="/App/Perfil/[[persona.idUsuario]]" target="_blank">
  <md-tooltip md-direction="right">
    Ver Perfil
  </md-tooltip>
  <md-icon md-font-icon="fa-user" class="fa"></md-icon>
  </md-button>
  <md-button class="floating2 md-fab md-green" ng-click="aprobarParticipante(persona.idPeticion)">
  <md-tooltip md-direction="right">
    Aceptar
  </md-tooltip>
  <md-icon md-font-icon="fa-check" class="fa"></md-icon>
  </md-button>
  <md-button class="floating3 md-fab md-warn" ng-click="rechazarParticipante(persona.idPeticion)">
  <md-tooltip md-direction="right">
    Rechazar
  </md-tooltip>
  <md-icon md-font-icon="fa-times" class="fa"></md-icon>
  </md-button>
       <md-grid-tile-footer>
      <h3 style="text-transform: capitalize">[[persona.nombre]]</h3>
    </md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>
</div>
</section>
<section>
  <md-subheader class="md-primary"><h2>Aceptados</h2></md-subheader>
  <div style="width: 90%;margin-left: auto;margin-right: auto;">
    <md-grid-list
            md-cols-sm="2" md-cols-md="2" md-cols-gt-md="6"
            md-row-height-gt-md="1:1" md-row-height="2:2"
            md-gutter="12px" md-gutter-gt-sm="8px" >
      <md-grid-tile style="background-image:url('[[persona.Foto]]');transition: all 400ms ease-out;background-position: center;background-size: cover;
  " ng-repeat="persona in participantes.aprobados" ng-style="stagger($index)" class="animated zoomInDown"
                    md-rowspan="2" md-colspan="2">
        <md-button class="floating1 md-fab md-primary" href="/App/Perfil/[[persona.idUsuario]]" target="_blank">
          <md-tooltip md-direction="right">
            Ver Perfil
          </md-tooltip>
          <md-icon md-font-icon="fa-user" class="fa"></md-icon>
        </md-button>
        <md-grid-tile-footer>
          <h3 style="text-transform: capitalize">[[persona.nombre]]</h3>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>
</section>
<section>
  <md-subheader class="md-primary"><h2>Rechazados</h2></md-subheader>
  <div style="width: 90%;margin-left: auto;margin-right: auto;">
    <md-grid-list
            md-cols-sm="2" md-cols-md="2" md-cols-gt-md="6"
            md-row-height-gt-md="1:1" md-row-height="2:2"
            md-gutter="12px" md-gutter-gt-sm="8px" >
      <md-grid-tile style="background-image:url('[[persona.Foto]]');transition: all 400ms ease-out;background-position: center;background-size: cover;
  " ng-repeat="persona in participantes.rechazados" ng-style="stagger($index)" class="whiteBackground animated zoomInDown"
                    md-rowspan="2" md-colspan="2">
        <md-button class="floating1 md-fab md-primary" href="/App/Perfil/[[persona.idUsuario]]" target="_blank">
          <md-tooltip md-direction="right">
            Ver Perfil
          </md-tooltip>
          <md-icon md-font-icon="fa-user" class="fa"></md-icon>
        </md-button>
        <md-grid-tile-footer>
          <h3 style="text-transform: capitalize">[[persona.nombre]]</h3>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>
</section>