
<link rel="stylesheet" type="text/css" href="/css/admin/evento.css?v=update">
<div layout="row" layout-align="center start">
<md-card flex="100" layout-align="start start" class="animated zoomInDown">



<div class="imgWrapper">
<img src="/img/evento.jpg" class="md-card-image animated fadeInDown stagger-0" alt="Washed Out">
</div>
<i class="fa fa-file-image-o corner"></i>
<img src="/img/evento.jpg" class="md-card-image animated fadeInDown stagger-0 absolute" alt="Washed Out">

  <md-card-content>
    <h2 class="md-title animated fadeInDown stagger-5">[[nombre]] <i class="fa fa-pencil-square-o editarIcono" ng-click="tituloDialog($event)"></i></h2>
    <hr class="animated fadeInDown stagger-6">
    <h3 class="animated fadeInDown stagger-7">Descripcion Corta <i class="fa fa-pencil-square-o editarIcono" ng-click="descDialog($event)"></i></h3>
    <p class="animated fadeInDown stagger-8">
      [[desc]]
    </p>
    <h3 class="animated fadeInDown stagger-9">Contenido <i class="fa fa-pencil-square-o editarIcono" ng-click="conDialog($evento)" ></i></h3>
    <p class="animated fadeInDown stagger-10">[[contenido]]</p>
  </md-card-content>
</md-card>
</div>
<md-grid-list
      md-cols-sm="2" md-cols-md="2" md-cols-gt-md="6"
      md-row-height-gt-md="2:2" md-row-height="2:2"
      md-gutter="12px" md-gutter-gt-sm="8px" >
  <md-grid-tile class="animated zoomInDown green stagger-2"
      md-rowspan="2" md-colspan="2"
      > 
 
      <i class="fa fa-file-image-o corner"></i>
      <div class="wrapper">  
      </div>   
    <md-grid-tile-footer>
      <h3>Nombre Evento</h3>
    </md-grid-tile-footer>
      
  </md-grid-tile>
  <md-grid-tile class="animated zoomInDown green stagger-4"
      md-rowspan="1" md-colspan="1"
      >      
      <i class="fa fa-file-image-o corner"></i>
      <div class="wrapper">  
      </div>   
    <md-grid-tile-footer>
      <h3>Nombre Evento</h3>
    </md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>