<link rel="stylesheet" type="text/css" href="/css/admin/eventos.css?v=[[timestamp()]]">
<div layout="column" layout-align="start center" flex="100">
    <div class="evento-header" layout="row" layout-align="center center">
        <div layout="column" layout-align="center center"flex="30">
            <img class="heightFull" ng-src="[[organizacion.Foto]]">
        </div>
        <div layout="column" layout-align="center start" flex="70">
            <label class="categoria">ORGANIZACION</label>
            <h1 class="evento-titulo">[[organizacion.Nombre]]</h1>
            <h2 class="evento-desc">[[organizacion.Descripcion]]</h2>
        </div>
    </div>
    <br>
    <div layout="column" layout-align="start start" layout-wrap  class="width-95 center">
        <div style="width: 100%">
            <div class="width-95 center">
                <h1>Esta organizacion es responsable por los siguientes eventos</h1>
                <hr>
            </div>
        </div>
        <md-grid-list style="width: 100%" md-cols-sm="1"
                      md-cols-md="2"
                      md-cols-gt-md="3"
                      md-row-height="3:2"
                      md-gutter="12px"
                      md-gutter-gt-sm="8px">
            <md-grid-tile ng-repeat="evento in eventos"
                          style="background-image:url('[[evento.foto]]')">
                <md-grid-tile-footer layout="column" layout-align="start center">
                    <div layout="column" layout-align="start center">
                        <div layout="row" layout-align="space-between center" style="width: 100%;margin:4px">
                            <div layout="column" layout-align="start start">
                                <label class="headers categoria">[[evento.categoria]]</label>
                                <h2 class="md-title">[[evento.nombre]]</h2>
                            </div>
                            <div class="headers"><i class="fa fa-calendar-o"></i> [[showDate(evento.fecha)]]</div>
                        </div>
                        <div  layout-padding>
                            <p class="descripcion">
                                [[evento.descripcion]]
                            </p>
                        </div>
                    </div>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>


    </div>
    <br>
    <div layout="column" layout-align="start center" class="width-80">
        <div class="fullwidth">
            <label>COMENTARIOS</label>
            <hr>
        </div>
        <div ng-repeat="comentario in organizacion.comentarios" layout="row" layout-align="space-around center" class="fullwidth" layout-wrap>
            <div flex="30" layout="row" layout-align="center center">
                <a href="/App/Perfil/[[comentario.usuario.id]]" target="_blank"><img class="circlePhoto md-whiteframe-z1" ng-src="[[comentario.usuario.foto]]"></a>
            </div>
            <div flex="70" layout="column" layout-align="start start">
                <p><label class="nombreLbl" >[[comentario.usuario.nombre]] </label><i class="fa fa-calendar-o"></i> [[timeSince(comentario.fecha)]]</p>
                <div>
                    <p>[[comentario.comentario]]</p>
                </div>
            </div>
            <div flex="100">
                <br><hr class="width-80 center">
            </div>
        </div>
    </div>


</div>
