<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Cargar Imagen</h2>
        </div>
    </md-toolbar>
    <md-content class="sticky-container">
        <div class="dialog-content">
            <div layout="row" layout-align="space-around center">
                <div class="cropArea">
                    <img-crop image="myImage" result-image="myCroppedImage" area-type="square" result-image-size='400'></img-crop>
                </div>
            </div>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="cancel()" class="md-raised">
            Cancelar
        </md-button>
        <md-button ng-click="ok()" class="md-primary md-raised">
            Añadir Foto
        </md-button>
    </div>
</md-dialog>