.contenedor{
    width: 100%;
    height: 100%;
}
hr{
    height: 0px;
    padding: 0px!important;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: rgba(0,0,0,0.12);
    border-top-width: 0px;
}
md-list {
    padding: 0px!important;
}
.headers{
    margin: 5px;
    opacity: 0.8;
}
.categoria{
    font-weight: bold;
    color: #629ae1;
}
.evento-card{
    margin-top: 0px;
    transition: all 100ms ease-in;
    cursor: pointer;
}
.evento-card:hover{
    margin-top: -3px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.098),0 1px 10px 0 rgba(0,0,0,.084);
}
.cat-icon{
    font-size: 1.5em;
    margin: 3px;

}
.fullWidth{
    width: 100%;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

/*-DESHABILITAR  CALENDARIO-*/
.switch-control{
    display:none;
}
.date-control{
    margin-left: 1rem;
}
.time-date > .buttons{
    display: none;
}
.date-control > .title > button{
    display:none;
}
.time-date{
    pointer-events: none;
}
/*-DESHABILITAR CALEDNARIO-*/

.fotosCard{
    height:180px;
    overflow: hidden;
}
.participar{
    display: block;
    background-color: #009688!important;
    color: white!important;
    width: 23.1rem;
}
.evento-header{
    min-height: 200px;
    width: 100%;
    background-size:cover;
    background-image: url(http://desktopbackgroundshq.com/backgrounds/tree-wallpaper-desktop-desktop-backgrounds-nature-backgrounds-30047.jpg);
}
.evento-titulo{
    font-size: 4.5em;
    color: white;
    margin: 0;
}
.orgLbl{
    font-weight: bold;
    color: #a660e1;
}
.orgHr{
    width:100px;
}
.nombreLbl{
    font-weight: bold;
}
.width-95{
    width: 95%;
}
.width-90{
    width: 90%;
}
.width-80{
    width: 80%;

    margin-left: auto;
    margin-right: auto;
}
.social-fab{
    font-size: 1.6em;
    color: #AAA!important;
    background-color: white!important;
}
.circlePhoto{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
hr .width-80{
    opacity: 0.5;
}
.heightFull{
    height: 100%;
}
.evento-desc{
    color:white!important;
}
.circlePhotoPerfil{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-color: white;
}
.estado-aprobado{color:#009688;font-size: 2em;}
.estado-pendiente{color: #dfb700;font-size: 2em;}
.estado-rechazado{color: #e64807;font-size: 2em;}
.loadingBack{
    background-color: rgba(228, 228, 228, 0.8);
    position: fixed;
    top:0;
    left:0;
    z-index: 500;
    width: 100%;
    height:100%;
}
.evento-desc > a {
    margin-right: 3px;
}
md-grid-list md-grid-tile {
    transition: all 400ms ease-out;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:300px;
    height:300px;
}
.md-char-counter{
    bottom: auto!important;
}

md-grid-tile {
    transition: all 400ms ease-out;
    background-position: center;
    background-size: cover;
}

md-grid-tile-footer{
    background: rgba(20,20,20,.8)!important;
    transition: all 400ms ease-out;
    height: 75px;
    min-height: 75px;
}
md-grid-tile-footer figcaption{
    width: 100%;
    padding: 8px;
}
figure:hover > md-grid-tile-footer{
    height:100%!important;
}
.descripcion{font-size: 0.8em;}
.md-title{
    margin: 0px;
}
md-input-container [ng-messages]{
    opacity: 1!important;
}
input[type=number].input-number–noSpinners { -moz-appearance: textfield; }
input[type=number].input-number–noSpinners::-webkit-inner-spin-button,
input[type=number].input-number–noSpinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
section{
    width:100%;
}
.menuBtn {
    background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGcgaWQ9IkhlYWRlciI+CiAgICA8Zz4KICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPgogICAgPC9nPgo8L2c+CjxnIGlkPSJMYWJlbCI+CjwvZz4KPGcgaWQ9Ikljb24iPgogICAgPGc+CiAgICAgICAgPHJlY3QgZmlsbD0ibm9uZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+CiAgICAgICAgPHBhdGggZD0iTTMsMThoMTh2LTJIM1YxOHogTTMsMTNoMTh2LTJIM1YxM3ogTTMsNnYyaDE4VjZIM3oiIHN0eWxlPSJmaWxsOiNmM2YzZjM7Ii8+CiAgICA8L2c+CjwvZz4KPGcgaWQ9IkdyaWQiIGRpc3BsYXk9Im5vbmUiPgogICAgPGcgZGlzcGxheT0iaW5saW5lIj4KICAgIDwvZz4KPC9nPgo8L3N2Zz4=) no-repeat  center center;
    height: 20px;
    border: none;
    margin: 5px;
}
.whiteBackground{
    background-color: white;
}
