body {
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #87CEEB;
  height: 22in;
}
 
.login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
 
}
 
#sha{
	max-width: 340px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    -moz-box-shadow:    0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    box-shadow:         0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    border-radius: 6%;
  }
 #avatar{
width: 96px;
height: 96px;
margin: 0px auto 10px;
display: block;
border-radius: 50%;
 } 
 .wrap{
        position: relative;
        width: 100%;
        height: 300px;
}
.img-responsive{
        display: block;
        height: auto;
        max-width: 100%;

}
.overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 0;
        background: #87CEEB;
        color: #fff;
        vertical-align: middle;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;
}
.wrap:hover .overlay {
  opacity: 1;
}
.inner {
padding: 5px;
overflow-y: scroll;
height: inherit;
overflow-x: hidden;

}

.nosenada {
  padding-top: 10px;
  padding-bottom: 10px;

}

.asd {
  padding-right: 50px; 
}

.primeraimagen {
  padding-right: 100px; 
}

.style1{
    max-height: auto !important;
    padding-right: 0px !important;
}
input[type="text 2"] {
    width: 805px;
    height: 100px;
  }

.botondeaceptar {
  margin-top: 10px;
margin-left: 650px;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
line-height: 1;
width: 200%
}


.note-editable{
  background-color: white;

}