body {
    font-family: roboto condensed;
}

header {
    position: fixed;
    width: 100%;
    min-width: 1200px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

nav {
    display: table;
    height: 12px;
    margin: auto;
    margin-top: 24px;
    -webkit-transition: margin-left 1s, margin-right 1s;
}

ul {
    display: block;
    float: left;
}

#logo_nav {
    display: block;
    float: left;
    margin-right: 90px;
    margin-left: 90px;
    margin-top: 240px;
    -webkit-transition: height 1s, width 1s, margin-left 1s, margin-right 1s, margin-top 1s;
}

.seccion_navegador {
    float: left;
    margin-right: 75px;
    margin-left: 75px;
}

ul a {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
}

section {
    position: relative;
}

#home {
    width: 100%;
    height: 767px;
    background-image: url(../img/bg_home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#quienes_somos {
    width: 100%;
    height: 767px;
    background-image: url(../img/bg_quienes.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#origen {
    width: 100%;
    height: 767px;
    background: url(../img/bg_origen.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#datos {
    width: 100%;
    height: 767px;
    background: url(../img/bg_datos.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#contacto {
    width: 100%;
    height: 547px;
    background-color: #555555;    
}

#cnt_tx_home {
    height: 113px;
    left: 10%;
    position: relative;
    top: 450px;
    width: 316px;
}

.font_45 {
    font-size: 45px;
}

.font_home {
    color: #ffffff;
    font: 300 21px / 24px roboto condensed;
}

#cnt_tx_quienes {
    position: relative;
    width: 450px;
    float: right;
    margin-right: 10%;
    margin-top: 200px;
}

.titulo_quienes {
    color: #fff;
    font-size: 45px;
    font-weight: 500;
    text-align: right;
}

.tx_quienes {
    color: #fff;
    font: 300 15px / 15px roboto condensed;
    line-height: 18px;
    margin-top: 15px;
    text-align: right;
}

.subtitulo_quienes {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-align: right;
    margin-top: 30px;
}

#cnt_ic_origen {
    display: table;
    height: 167px;
    margin: auto;
    position: relative;
    top: 210px;
}

.ic_origen {
    display: block;
    float: left;
    height: 167px;
    margin: 15px;
}

.signos_origen {
    color: #fff;
    font-family: roboto condensed;
    font-size: 45px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
}

.ic_center {
    display: table;
    margin: auto;
}

#tx_origen {
    color: #ffffff;
    display: table;
    font: 300 15px / 18px Roboto condensed;
    height: 100px;
    margin: auto;
    top: 330px;
    position: relative;
    width: 665px;
    text-align: center;
}

#cnt_ic_datos {
    display: table;
    height: 180px;
    margin: auto;
    position: relative;
    top: 150px;
    min-width: 82%;
}

.ic_datos {
    display: block;
    float: left;
    height: 300px;
    width: 33.3%;
}
.ic_datos_center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#cnt_barra_datos {
    display: table;
    height: 167px;
    margin: auto;
    position: relative;
    top: 240px;
    width: 150px;
}

.barra_datos {
    background-color: #006b3c;
    display: block;
    float: left;
    height: 30px;
    width: 330px;
    border-radius:15px;
    margin-bottom:15px;
    opacity: 0.75;
}

.titulo_ic_origen {
    text-align: center;
    color: #ffffff;
    font: 400 45px / 45px roboto condensed;
    margin-top: 30px;
}

.ic_center_nubes {
    display: table;
    margin: auto;
    max-height: 102px;
}

.titulo_voluntario {
    text-align: center;
    color: #ffffff;
    font: 400 75px / 45px roboto condensed;
    margin-bottom: 6px;
}

.sub_titu_volunt {
    color: #ffffff;
    font: 400 18px / 18px roboto condensed;
    text-align: center;
    margin-bottom: 30px;
}
.tx_motivo {
    display: inline;
    color: #6fcd6e;
    font: 400 12px / 12px roboto condensed;
    text-align: left;
    position: absolute;
    left: 15px;
    margin-top: 9px;
}


#porcentaje_primer_motivo {
    display: inline;
    color: #6fcd6e;
    font: 400 15 / 18 roboto condensed;
    text-align: left;
    position: absolute;
    right: 15px;
    margin-top: 9px;
}

#porcentaje_segundo_motivo {
    display: inline;
    color: #6fcd6e;
    font: 400 15 / 18 roboto condensed;
    text-align: left;
    position: absolute;
    right: 15px;
    margin-top: 9px;
}

#porcentaje_tercer_motivo {
    display: inline;
    color: #6fcd6e;
    font: 400 15 / 18 roboto condensed;
    text-align: left;
    position: absolute;
    right: 15px;
    margin-top: 9px;
}
#content_datos {
    width: 600px;
    display: table;
    height: 300px;
    margin: auto;
    position: relative;
    padding-top: 80px;
}

#formulario {
    position: relative;
    display: block;
    height: 300px;
    width: 245px;
    margin: auto;
    float: left;
}

.contenedor_formulario {
    height: 43px;
    width: 243px;
    background-color: #707070;
    border-color: #c2c2c2;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    position: relative;
    margin-bottom: 6px;
}

#contacto_separador {
    height: 300px;
    width: 120px;
    display: block;
    float: left;
    margin: auto;
    position: relative;
}

.separador_vertical {
    margin: auto;
    height: 300px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

#datos_contacto {
    position: relative;
    display: block;
    height: 300px;
    width: 221px;
    margin: auto;
    float: left;
}

#enviar_form {
    height: 45px;
    width: 160px;
    background-color: #00dbf5;
    padding: 15px;
    margin-top: 15px;
    border-color: #c2c2c2;
    border-radius: 6px;
    color: #ffffff;
    font: 400 15px / 15px roboto condensed;
    text-align: center;
    float: right;
    outline: none;
    border: 0px;
}

#logo_contac {
    height: 105px;
    width: 128px;
}

.datos_contacto {
    height: 90px;
    width: 221px;
    color: #39e1ff;
    font: 300 15px / 21px Roboto condensed;
    margin-top: 30px;
}



#conten_ic_redes {
    height: 45px;
    width: 159px;
    margin-top: 30px;
}

#credit {
    height: 31px;
    width: 100%;
    color: #ababab;
    font: 300 12px / 18px Roboto condensed;
    text-align: center;
    margin-top: 150px;
    margin: auto;
    display: table;
    position: relative;
    float: left;    
    padding-top: 90px;
}

.bold {
    font-weight: 700;
}

.content_form {
    height: 15px;
    width: 215px;
    background-color: #707070;
    padding: 15px;
    margin-bottom: 12px;
    border-color: #c2c2c2;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    color: rgba(255, 255, 255, 0.45);
    font: 300 15px / 15px roboto condensed;
    outline: none;
}

#mensaje_form {
    height: 75px;
    width: 215px;
    background-color: #707070;
    padding: 15px;
    margin-bottom: 12px;
    border-color: #c2c2c2;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    color: rgba(255, 255, 255, 0.45);
    font: 300 15px / 15px roboto condensed;
    outline: none;
}
#primer_motivo {
    background-color: #ffffff;
    display: inline-block;
    height: 30px;
    width: 180px;
    border-radius: 15px 0px 0px 15px;
}
#segundo_motivo {
    background-color: #fff;
    display: inline-block;
    height: 30px;
    width: 114px;
    border-radius: 15px 0px 0px 15px;
}

#tercer_motivo {
    background-color: #ffffff;
    display: inline-block;
    height: 30px;
    width: 33px;
    border-radius: 15px 0px 0px 15px;
}
#unete_contacto {
    margin: auto;
    width: 82%;
    position: relative;
    display: block;
}

footer {
    width: 100%;
    height: 750px;
    background-color: #555555;
    position: relative;
    display: table;
    margin: auto;
}
#frase_unete {
    text-align: center;
    font: 500 45px / 45px roboto condensed;
    color: #fff;
}

#tx_unete {
    font: 300 15px / 18px roboto condensed;
    color: #fff;
    text-align: center;
    margin-top: 30px;
}
.tipo_content_form {
    height: 45px;
    width: 245px;
    background-color: #707070;
    margin-bottom: 12px;
    border-color: #c2c2c2;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    color: rgba(255, 255, 255, 0.45);
    font: 300 15px / 15px roboto condensed;
    outline: none;
}
#unete_contacto {
    margin: auto;
    width: 82%;
    position: relative;
    display: block;
    margin-top: 40px;
}