<md-dialog>
  <md-content class="sticky-container">
    <md-subheader class="md-sticky-no-effect">Contenido</md-subheader>
    <div class="dialog-content">
      <md-input-container flex>
        <label>Contenido</label>
        <textarea columns="1" md-maxlength="500" ng-model="texto"></textarea>
      </md-input-container>
    </div>
  </md-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="cancel()">
     Cancelar
    </md-button>
    <md-button ng-click="okDesc()" class="md-primary">
      Guardar
    </md-button>
  </div>
</md-dialog>