.mainContent{
	overflow-x:hidden;
}
.titulo{
	margin-left: 15px;
}
.estaContainer{
	padding:5px;
	width:100%;
}
.estaContainer>div{
	width:100%;
}
.estaContainer>img{
	width: 100%;
	  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

