.editarIcono {
  cursor: pointer;
  transition: color 200ms linear;
}
.editarIcono:hover{
	color:#c52d2f;
}
.corner{
  position: absolute;
  left: 100%;
  top: 5px;
  z-index:500;
  font-size: 1em;
  margin-left: -20px;
  transition: all 400ms ease-out 50ms; 

}
md-grid-tile,md-grid-tile-footer {
 	transition: all 400ms ease-out 50ms; 
}	
figure:hover > md-grid-tile-footer{
	height:60px!important;
}
figure:hover > .corner{
	font-size: 1.5em;
	margin-left: -25px;
}
.wrapper{
	cursor:pointer;
	height: 100%;
	width: 100%;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.16) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.16)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.16) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.16) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.16) 100%);
background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.16) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#29000000',GradientType=1 );
opacity: 0;

	transition: all 400ms ease-out 50ms; 
}

figure:hover > .wrapper{
	opacity: 1;
}
.imgWrapper:hover{
opacity: 1;
}
.imgWrapper:hover + .corner{
	font-size: 1.5em;
	margin-left: -25px;
}
.imgWrapper{
	cursor: pointer;
width: 100%;
background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.16) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.16)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.16) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.16) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.16) 100%);
background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.16) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#29000000',GradientType=1 );
transition: all 400ms ease-out 50ms;
opacity: 0; 
z-index: 500;

}
.imgWrapper > img{
	position:relative;
    display:block;
    visibility: hidden;
}
.absolute{
	position: absolute;
	top:0;
	z-index:0;
}
md-dialog{
	width: 70%;
}
.full {
  width: 100%;
  height: 100%; }
.gap {
  width: 50px; }
md-dialog md-content.sticky-container {
  padding: 0; }
md-dialog md-content.sticky-container .dialog-content {
  padding: 0 24px 24px; }
.md-subheader {
  background-color: rgb(120,1,64)!important;
  color:white!important;
  margin: 0; }
h2.md-subheader.md-sticky-clone {
margin-right: 0;
margin-top: 0;
box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16); }
h2 .md-subheader-content {
  padding-left: 10px; }